:root{
    --base-brown:#A47A61;


    --header-height:'';
}
@keyframes menu-in{
    0%{
        transform: translateX(110%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes menu-out{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(110%);
    }
}
@keyframes x-spin{
    0%{
        scale: .3;
    }
    100%{
        scale: 1;
        transform: rotate(-720deg);
    }
}
@keyframes x-spin-out{
    0%{
        scale: 1;
    }
    100%{
        scale: .3;
        transform: rotate(720deg);
    }
}
@keyframes header-in{
    to{
        transform:translateY(0) ;
    }
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('Poppins/Poppins-Light.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:poppins-semibold;
}
body,html{
    width: 100%;
    background-color: rgb(244, 244, 244);
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    position: relative;
}
header{
    width: 100%;
    height: 100%;
    background-color:white;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2em;
    border: 1px solid transparent;
    margin-bottom: 60px;
    position: fixed;
    z-index: 11;
    top: 0;
    transform: translateY(-100%);
    animation: header-in 1.5s ease-out .5s forwards;
}
.bt1{
    border: none;
    background-color: var(--base-brown);
    transition:all .3s ease; 
}
.bt1:hover{
    background-color: #7d604f;
}
.logo-menu-con{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}
.logo-con{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right:50px ;
}
.logo-img{
    height: 80%;
    aspect-ratio: 1/1;
    background-image: url(logomono.png);
    background-size: cover;
    background-position:center ;
    margin-right: 5px;
}
.logo-txt > p {
    color: black;
    line-height: 15px;
    font-family: oswald-bold;
    font-size: 12pt;
}
.re{
    font-size: 10pt;
}
.menu{
    list-style-type: none;
    display: flex;
}
.menu a {
    margin-right: 1.3em;
    box-sizing: content-box;
    padding:.5em ;
}
.menu a li{
    color: var(--base-brown);
    font-family: rubik-regular;
    font-size: 12.5pt;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
}
.menu a li::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2.4px;
    border-radius: 7px;
    background-color: var(--base-brown);
    margin-top: 5px;
    scale: .0 1;
    transition: all .2s ease;
}
.menu a:hover > li::after{
    scale:1.1 1;
}
.schedule{
    padding: .8em 1.1em;
}

.mob-menu-toggle{
    height: 50%;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 0;
    margin-right: 10px;
    display: none;
}
.mob-menu-con{
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100vh;
    translate: 0%;
    background-color: rgba(0, 0, 0, 0.744);
    backdrop-filter: blur(5px);
    color: white;
    display: none;
    align-items: center;
}
.menu-in{
    animation: menu-in ease-in-out .7s 1 0s both;
}
.menu-out{
    animation: menu-out ease-in-out .7s 1 0s both;
}

.mob-menu{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 70px;
}
.mob-menu a{
    display: flex;
    justify-content: center;
    color: white;
}
.mob-menu a > div,
.mob-menu-close{
    width: 90%;
    height: 100%;
    background-color:transparent;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mob-menu-close{
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
}
.close-img{
    height: 100%;
}
.x-spin{
    animation: x-spin ease-in-out .9s 1 0s forwards;
}
.x-spin-out{
    animation: x-spin-out ease-in-out .9s 1 0s forwards;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: rgb(104, 38, 38);
}
::selection{
    background-color: rgb(46, 27, 27);
    color: white;
}
.lock-scroll {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

footer{
    width: 100%;
    margin-top: 100px;
    height: fit-content;
    border: 2px solid transparent;
    padding-top: 30px;
    padding: 50px 2em 30px 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8FF;
}
.foot-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 50px;
}
.foot-ttl{
    font-size: 20pt;
    margin-bottom: 30px;
    font-family: poppins-semibold;
}
.foot-links{
    display: flex;
    flex-direction: column;
}
.foot-link{
    margin: .3em 0;
    font-family: poppins-regular;
}
.dis{
    font-family: poppins-light; 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


@media screen and (max-width: 1024px){
}
@media screen and (max-width: 930px){
    .foot-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .foot-sec{
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px){
    header{
        padding: 0;
        flex-direction: column;
        align-items: center;
        height: 150px;
    }
    .logo-menu-con{
        flex-direction: column;
        width: 75%;
    }
    .logo-con{
        margin: 10px;
    }
    .schedule{
        margin: 10px;
    }
    .menu{
        width: 100%;
    }
}
@media screen and (max-width: 695px){
}
@media screen and (max-width: 520px){
    .foot-grid{
        grid-template-columns: 1fr;
    }
    .foot-sec > div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .dis{
        font-size: 9pt;
    }
}
@media screen and (max-width: 430px){
    header{
        height: 100px;
        display: flex;
        align-items: center;
    }
    .logo-menu-con{
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .logo-con{
        margin: 5px;
    }
    .menu-con,.schedule{
        display: none;
    }
    .mob-menu-toggle{
        display: block;
    }
}
@media screen and (max-width: 330px){
}