@font-face {
    font-family: 'Rubik-Black';
    src: url('Rubik/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-BlackItalic';
    src: url('Rubik/Rubik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('Rubik/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'Rubik-BoldItalic';
    src: url('Rubik/Rubik-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}



@font-face {
    font-family: 'Rubik-ExtraBoldItalic';
    src: url('Rubik/Rubik-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Italic';
    src: url('Rubik/Rubik-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('Rubik/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-LightItalic';
    src: url('Rubik/Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('Rubik/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-MediumItalic';
    src: url('Rubik/Rubik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-SemiBold';
    src: url('Rubik/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-ExtraBold';
    src: url('Rubik/Rubik-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-SemiBoldItalic';
    src: url('Rubik/Rubik-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
